/**
 * Default meanjs stuff that I should actually check at some point.
 */
.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}


/**
 * Allow badges with label-like colour options...
 * or labels with badge-like borders and floating.
 */
.label-as-badge {
  border-radius: 1em;
}

.list-group-item > .label-as-badge {
  float: right;
}
.list-group-item > .label-as-badge + .label-as-badge {
  margin-right: 5px;
}

/**
 * Remove top margin from headers within an alert
 */
h1.alert-header, h2.alert-header, h3.alert-header, h4.alert-header {
  margin-top: 0px;
}
