<h2>Details</h2>
<div class="form-group required">
  <label class="control-label" for="name">Name</label>
  <div class="controls">
      <input type="text" data-ng-model="campaign.name" id="name" class="form-control" placeholder="Name" required>
  </div>
</div>
<div class="form-group">
  <label class="control-label">Location</label>
  <location-picker location="campaign.location"></location-picker>
</div>
<div class="form-group">
  <label class="control-label">Duration</label>
  <div class="form-group form-inline">
    <div class="controls">
      <button data-btn-checkbox type="button" class="btn btn-default" data-ng-model="campaign.duration.enabled">{{ (campaign.duration.enabled) ? 'Enabled' : 'Disabled' }}</button>
      <div class="form-group input-group">
        <input placeholder="Start Date" type="text" data-ng-disabled="!campaign.duration.enabled" data-ng-model="campaign.duration.start" min-date="now" class="form-control" datepicker-popup="d MMMM yyyy" is-open="openedCalendar.startDate" show-weeks="false" />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" data-ng-disabled="!campaign.duration.enabled" ng-click="openCalendar($event, 'startDate')"><i class="fa fa-calendar"></i></button>
        </span>
      </div>
      <div class="form-group text-center">
        <i class="fa fa-arrow-right"></i>
      </div>
      <div class="form-group input-group">
        <input placeholder="End Date" type="text" data-ng-disabled="!campaign.duration.enabled" data-ng-model="campaign.duration.end" min-date="campaign.duration.start" class="form-control" datepicker-popup="d MMMM yyyy" is-open="openedCalendar.endDate" show-weeks="false" />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" data-ng-disabled="!campaign.duration.enabled" ng-click="openCalendar($event, 'endDate')"><i class="fa fa-calendar"></i></button>
        </span>
      </div>
    </div>
  </div>
  <span class="help-block">If a duration is not enabled, the campaign will continue indefinitely.</span>
</div>
<div class="form-group form-inline">
  <label class="control-label">Submissions go stale</label>
  <div class="controls">
    <button data-btn-checkbox type="button" class="btn btn-default" data-ng-model="staleEnabled">{{ (staleEnabled) ? 'Enabled' : 'Disabled' }}</button>
    <div class="input-group">
      <input type="number" class="form-control" data-ng-disabled="!staleEnabled" data-ng-model="campaign.stale" />
      <span class="input-group-addon">days</span>
    </div>
  </div>
  <span class="help-block">If this is enabled, submissions will appear as "stale" if they are older than the supplied time.</span>
</div>
<div class="form-group">
  <label class="control-label">Submissions require approval</label>
  <div class="controls">
    <button data-btn-checkbox type="button" class="btn btn-default" data-ng-model="campaign.approvalRequired">{{ (campaign.approvalRequired) ? 'Enabled' : 'Disabled' }}</button>
  </div>
  <span class="help-block">If this is enabled, any submissions will need to be approved by moderators before appearing in the dataset.</span>
</div>
<div class="form-group">
  <label class="control-label">Private</label>
  <div class="controls">
    <button data-btn-checkbox type="button" class="btn btn-default" data-ng-model="campaign.private">{{ (campaign.private) ? 'Enabled' : 'Disabled' }}</button>
  </div>
  <span class="help-block">If this is enabled, users will not be able to join the campaign unless invited.</span>
</div>
<h2>Fields</h2>
<div class="panel panel-default" data-ng-repeat="field in campaign.fields">
  <div class="panel-body">
    <fieldset>
      <div class="form-group">
        <input type="text" data-ng-model="field.name" class="form-control" placeholder="Field name" required />
      </div>
      <div class="form-group">
        <ui-select data-ng-model="field.type" search-enabled="false">
          <ui-select-match placeholder="Select field type">{{$select.selected.value}}</ui-select-match>
          <ui-select-choices repeat="fieldType.key as fieldType in fieldTypes">{{fieldType.value}}</ui-select-choices>
        </select>
      </div>
      <div class="form-group" data-ng-if="field.type !== 'boolean'">
        <button data-btn-checkbox type="button" class="btn btn-default" data-ng-model="field.required">Required</button>
      </div>
      <div data-ng-if="field.type === 'select'">
        <div class="form-group">
          <button data-btn-radio="field.name" type="button" class="btn btn-default" data-ng-model="campaign.fieldAsMarker" data-uncheckable>Use field as marker icon</button>
        </div>
        <div class="form-group form-inline" data-ng-repeat="option in field.options">
          <div class="form-group">
            <input type="text" placeholder="Option name" data-ng-model="option.name" class="form-control" />
          </div>
          <div class="form-group">
            <ui-select data-ng-model="option.icon">
              <ui-select-match placeholder="Select an icon"><i class="fa fa-{{$select.selected.id}}"></i></ui-select-match>
              <ui-select-choices repeat="icon.id as icon in icons | filter: $select.search"><i class="fa fa-{{icon.id}}"></i> {{icon.name}}</ui-select-choices>
            </ui-select>
          </div>
          <div class="form-group">
            <button class="btn btn-danger" data-ng-click="removeOption($parent.$index, $index)"><i class="fa fa-remove"></i></button>
          </div>
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-link" data-ng-click="addOption($index)"><i class="fa fa-plus"></i> Add a new option</button>
        </div>
      </div>
    </fieldset>
  </div>
  <div class="panel-footer">
    <button type="button" class="btn btn-link pull-right" data-ng-click="removeField($index)"><i class="fa fa-remove"></i> Remove field</button>
    <span class="clearfix" />
  </div>
</div>
<div class="form-group">
  <button type="button" class="btn btn-link" data-ng-click="addField()"><i class="fa fa-plus"></i> Add a new field</button>
</div>
