<section data-ng-controller="CampaignsController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Campaign</h1>
    </div>
    <div class="col-md-12">
        <form data-ng-submit="update()" novalidate>
          <fieldset>
            <h2>Details</h2>
            <div class="form-group">
                <label class="control-label" for="name">Campaign Name</label>
                <div class="controls">
                    <input type="text" data-ng-model="campaign.name" id="name" class="form-control" placeholder="Name" required>
                </div>
            </div>
            <h2>Fields</h2>
            <div class="panel panel-default" data-ng-repeat="field in campaign.fields">
              <div class="panel-body">
                <fieldset>
                  <div class="form-group">
                    <input type="text" data-ng-model="field.name" class="form-control" placeholder="Field name" required />
                  </div>
                  <div class="form-group">
                    <select class="form-control" data-ng-model="field.type">
                      <option value="null">Select field type...</option>
                      <option value="text">Text</option>
                      <option value="number">Number</option>
                      <!-- <option value="select">Multiple Choice</option> -->
                      <option value="boolean">Boolean</option>
                      <option value="image">Image</option>
                    </select>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" data-ng-model="field.required" /> Required?
                    </label>
                  </div>
                </fieldset>
              </div>
              <div class="panel-footer">
                <button type="button" class="btn btn-link pull-right" data-ng-click="removeField($index)"><i class="glyphicon glyphicon-remove"></i> Remove field</button>
                <span class="clearfix" />
              </div>
            </div>
            <div class="form-group">
              <button type="button" class="btn btn-link" data-ng-click="addField()"><i class="glyphicon glyphicon-plus"></i> Add a new field</button>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-default" value="Create">
            </div>
            <div data-ng-show="error" class="text-danger">
              <strong data-ng-bind="error"></strong>
            </div>
          </fieldset>
        </form>
    </div>
</section>
