<section data-ng-controller="CampaignsController" data-ng-init="find();findJoined();">
    <div class="page-header">
        <h1>Campaigns</h1>
    </div>
    <div class="list-group" data-ng-if="authentication">
        <a data-ng-repeat="campaign in joinedCampaigns" data-ng-href="#!/campaigns/{{campaign._id}}" class="list-group-item" data-ng-class="{ 'list-group-item-warning': !campaign.duration.open }">
          <span data-ng-if="!campaign.duration.open" class="label label-warning label-as-badge"><i class="fa fa-calendar-o"></i> Opens on {{ campaign.duration.start | date : 'd MMMM y' }}</span>
          <span data-ng-if="campaign.private" class="label label-danger label-as-badge"><i class="fa fa-lock"></i> Private</span>
          <small class="list-group-item-text">
            Posted on
            <span data-ng-bind="campaign.created | date:'medium'"></span>
            by
            <span data-ng-bind="campaign.user.displayName"></span>
          </small>
          <h4 class="list-group-item-heading" data-ng-bind="campaign.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-show="authentication && joinedCampaigns.$resolved && !joinedCampaigns.length">
      You haven't joined any campaigns yet!
    </div>
    <h2>Discover</h2>
    <div class="list-group">
        <a data-ng-repeat="campaign in campaigns" data-ng-href="#!/campaigns/{{campaign._id}}" class="list-group-item">
          <span data-ng-if="authentication.user.memberships.indexOf(campaign._id) >= 0" class="label label-success label-as-badge"><i class="fa fa-check"></i> Joined</span>
          <span data-ng-if="soonerThanFiveDays(campaign.duration.end)" class="label label-warning label-as-badge"><i class="fa fa-clock-o"></i> Ending soon</span>
          <small class="list-group-item-text">
            Posted on
            <span data-ng-bind="campaign.created | date:'medium'"></span>
            by
            <span data-ng-bind="campaign.user.displayName"></span>
          </small>
          <h4 class="list-group-item-heading" data-ng-bind="campaign.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-show="campaigns.$resolved && !campaigns.length">
      There are no campaigns. Why don't you <a href="#!/campaigns/create">create one</a>?
    </div>
</section>
