<section data-ng-controller="CampaignsController" data-ng-init="findOne();findPoints();">
  <div class="page-header">
    <div class="pull-right form-inline" data-ng-switch="controls">
      <div data-ng-switch-when="owner">
        <form data-ng-submit="toggleJoin()" class="form-group input-group">
          <ui-select data-ng-model="campaign.userToInvite" data-ng-if="campaign.private">
            <ui-select-match placeholder="Invite a user">{{$select.selected.displayName}}</ui-select-match>
            <ui-select-choices repeat="user in users" refresh="refreshUsers($select.search)" refresh-delay="0">
              <span ng-bind-html="user.displayName | highlight: $select.search"></span>
              <i class="fa fa-check" data-ng-if="user.memberships.indexOf(campaign._id) > -1"></i>
            </ui-select-choices>
          </ui-select>
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default" data-ng-if="campaign.userToInvite" data-ng-disabled="campaign.user._id === campaign.userToInvite._id">
              <i class="fa fa-plus" data-ng-if="campaign.userToInvite.memberships.indexOf(campaign._id) === -1"></i>
              <i class="fa fa-minus" data-ng-if="campaign.userToInvite.memberships.indexOf(campaign._id) > -1"></i>
            </button>
          </span>
        </form>
        <a class="btn btn-primary" href="/#!/campaigns/{{campaign._id}}/edit">
          <i class="fa fa-edit"></i>
        </a>
        <a class="btn btn-primary" data-ng-click="remove();">
          <i class="fa fa-trash"></i>
        </a>
      </div>
      <div data-ng-switch-when="member">
        <a class="btn btn-danger" data-ng-click="leave()">
          <i class="fa fa-times"></i> Leave
        </a>
      </div>
      <div data-ng-switch-when="user">
        <a class="btn btn-success" data-ng-click="join()">
          <i class="fa fa-plus"></i> Join
        </a>
      </div>
      <div data-ng-switch-default>
        <a class="btn btn-info">
          <i class="fa fa-sign-in"></i> Sign in to join this campaign
        </a>
        <p data-ng-model="controls"></p>
      </div>
    </div>
    <h1>{{campaign.name}} <small>by {{campaign.user.displayName}}</small></h1>
  </div>

  <p data-ng-if="campaign.description">{{campaign.description}}</p>

  <leaflet center="center" markers="markers" width="100%" height="300px"></leaflet>
</section>
