<section data-ng-controller="CampaignsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="campaign.name"></h1>
	</div>
  
  <div>
    <h2>Fields</h2>
    <ul>
      <li data-ng-repeat="field in campaign.fields">{{ field.required ? "A required" : "An optional" }} {{field.type}} field called "{{field.name}}".</li>
    </ul>
  </div>
  
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == campaign.user._id))">
		<a class="btn btn-primary" href="/#!/campaigns/{{campaign._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>

	<small>
		<em class="text-muted">
			Created on
			<span data-ng-bind="campaign.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="campaign.user.displayName"></span>
		</em>
	</small>
</section>
