<section data-ng-controller="CampaignsController" data-ng-init="findOne();loadPoints();">
  <div class="page-header">
    <div class="pull-right" data-ng-switch="controls">
      <div data-ng-switch-when="owner">
        <a class="btn btn-primary" href="/#!/campaigns/{{campaign._id}}/edit">
          <i class="fa fa-edit"></i>
        </a>
        <a class="btn btn-primary" data-ng-click="remove();">
          <i class="fa fa-trash"></i>
        </a>
      </div>
      <div data-ng-switch-when="member">
        <a class="btn btn-danger" data-ng-click="leave()">
          <i class="fa fa-times"></i> Leave
        </a>
      </div>
      <div data-ng-switch-when="user">
        <a class="btn btn-success" data-ng-click="join()">
          <i class="fa fa-plus"></i> Join
        </a>
      </div>
      <div data-ng-switch-default>
        <a class="btn btn-info">
          <i class="fa fa-sign-in"></i> Sign in to join this campaign
        </a>
        <p data-ng-model="controls"></p>
      </div>
    </div>
    <h1 data-ng-bind="campaign.name"></h1>
  </div>

  <leaflet center="center" markers="markers" width="100%" height="300px"></leaflet>
</section>
