<section data-ng-controller="PointsController" data-ng-init="findCampaigns()">
    <div class="page-header">
        <h1>New Point</h1>
    </div>
    <div class="alert alert-warning text-center" data-ng-show="campaigns.$resolved && !campaigns.length">
    	<h2 class="alert-header">You haven't joined any campaigns yet!</h2>
      <p>To submit data, you first need to join a campaign. Why not <a href="#!/campaigns">take a look</a> and see what sparks your interest?</p>
    </div>
    <div class="col-md-12">
        <form data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                  <label class="control-label" for="name">Campaign</label>
                  <div class="controls">
                    <ui-select data-theme="bootstrap" data-ng-model="point.campaign" data-search-enabled="false">
                      <ui-select-match placeholder="Select a campaign...">{{$select.selected.name}}</ui-select-match>
                      <ui-select-choices repeat="campaign in campaigns" >{{campaign.name}}</ui-select-choices>
                    </ui-select>
                  </div>
                </div>
                <div data-ng-if="point.campaign" class="slider">
                  <div class="form-group">
                    <label class="control-label">Position</label>
                    <location-picker location="point.location" default-center="point.campaign.location"></location-picker>
                  </div>
                  <form-generator schema="campaign.fields" results="point.fields"></form-generator>
                  <div class="form-group">
                      <input type="submit" value="Create" class="btn btn-default">
                  </div>
                </div>
                <div data-ng-show="errors" class="text-danger">
                    <ul>
                      <li data-ng-repeat="error in errors">{{error}}</li>
                    </ul>
                </div>
            </fieldset>
        </form>
    </div>
</section>
