<section data-ng-controller="PointsController" data-ng-init="findCampaigns()">
    <div class="page-header">
        <h1>New Point</h1>
    </div>
    <div class="col-md-12">
        <form data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                  <label class="control-label" for="name">Campaign</label>
                  <div class="controls">
                    <select class="form-control" data-ng-options="campaign as campaign.name for campaign in campaigns" data-ng-model="campaign">
                      <option value="">Select a campaign...</option>
                    </select>
                  </div>
                </div>
                <div data-ng-if="campaign" class="slider">
                  <div class="form-group">
                    <label class="control-label">Position</label>
                    <location-picker location="point.location" default-center="campaign.location | mongogeo"></location-picker>
                  </div>
                  <form-generator schema="campaign.fields" results="point.fields"></form-generator>
                  <div class="form-group">
                      <input type="submit" value="Create" class="btn btn-default">
                  </div>
                </div>
                <div data-ng-show="errors" class="text-danger">
                    <ul>
                      <li data-ng-repeat="error in errors">{{error}}</li>
                    </ul>
                </div>
            </fieldset>
        </form>
    </div>
</section>
