<div class="form-horizontal">
  <div class="form-group" data-ng-repeat="field in schema" data-ng-switch="field.type">

    <div data-ng-switch-when="text">
      <label class="col-sm-2 control-label">{{field.name}}</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" data-ng-model="results[field.name]" data-ng-required="field.required" />
      </div>
    </div>

    <div data-ng-switch-when="number">
      <label class="col-sm-2 control-label">{{field.name}}</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" data-ng-model="results[field.name]" data-ng-required="field.required" />
      </div>
    </div>

    <div data-ng-switch-when="boolean">
      <label class="col-sm-2 control-label">{{field.name}}</label>
      <div class="col-sm-10">
        <checkbox data-ng-model="results[field.name]"></checkbox>
      </div>
    </div>

    <div data-ng-switch-when="select">
      <label class="col-sm-2 control-label">{{field.name}}</label>
      <div class="col-sm-10">
        <ui-select data-ng-model="results[field.name]">
          <ui-select-match placeholder="Choose..."><i class="fa fa-{{$select.selected.icon}} "></i> {{$select.selected.name}}</ui-select-match>
          <ui-select-choices repeat="option in field.options"><i class="fa fa-{{option.icon}} "></i> {{option.name}}</ui-select-choices>
        </ui-select>
      </div>
    </div>

    <div data-ng-switch-when="image">
      <label class="col-sm-2 control-label">{{field.name}}</label>
      <div class="col-sm-10 checkbox">
          <input type="file" class="form-control" data-ng-model="results[field.name]" data-ng-required="field.required" />
      </div>
    </div>

  </div>
</div>
