<section data-ng-controller="PointsController" data-ng-init="findOne()">
  <div class="page-header">
    <div class="pull-right">
      <a class="btn btn-primary" ui-sref="viewCampaign({ campaignId: point.campaign._id })">
        <i class="fa fa-arrow-left"></i> Back
      </a>
    </div>
    <h1>Point from {{point.campaign.name}}</h1>
  </div>
  <alert type="warning" data-ng-if="daysSince(point.created) >= point.campaign.stale">
    <b>Warning!</b> This point is greater than  <ng-pluralize data-count="point.campaign.stale" data-when="{ 'one': '{} day', 'other': '{} days' }"></ng-pluralize> old and is therefore considered stale by the campaign owner.
  </alert>
  <h2>Location</h2>
  <location-picker location="location" static="true"></location-picker>
  <h2>Details</h2>
  <div class="table-responsive">
    <table class="table table-bordered">
      <tr>
        <th scope="row">User</th>
        <td data-ng-bind="point.user.displayName"></td>
      </tr>
      <tr>
        <th scope="row">Time</th>
        <td data-ng-bind="point.created | date:'d MMMM yyyy HH:m:s'"></td>
      </tr>
    </table>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered">
      <caption>Additional data fields recorded with this point.</caption>
      <tr data-ng-repeat="(name, value) in point.data">
        <th scope="row">{{name}}</td>
        <td data-ng-if="point.campaign.fields[$index].type !== 'select'">{{value}}</td>
        <td data-ng-if="point.campaign.fields[$index].type === 'select'"><i class="fa fa-{{value.icon}}"></i> {{value.name}}</td>
      </tr>
    </table>
  </div>
  <div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == point.user._id))">
    <a class="btn btn-primary" href="/#!/points/{{point._id}}/edit">
      <i class="fa fa-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-click="remove();">
      <i class="fa fa-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span data-ng-bind="point.created | date:'mediumDate'"></span>
      by
      <span data-ng-bind="point.user.displayName"></span>
    </em>
  </small>
</section>
