.angular-leaflet-map {
  height: 200px;
  width: 100%;
}

.slider {
	opacity: 1; /* approximate max height */

  transition-duration: .5s;
	transition-property: all;
}

.slider.ng-hide {
  opacity: 0;
}
